<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Lendvent Realty Capital</title>
	<atom:link href="https://invest.lendvent.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://invest.lendvent.com/</link>
	<description>With decades of real estate experience, we provide capital to experienced real estate investors.</description>
	<lastBuildDate>Wed, 24 Jan 2024 16:55:29 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	

<image>
	<url>https://invest.lendvent.com/wp-content/uploads/2023/07/Favicon-64х64.svg</url>
	<title>Lendvent Realty Capital</title>
	<link>https://invest.lendvent.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Executive Summary</title>
		<link>https://invest.lendvent.com/media/executive-summary/</link>
		
		<dc:creator><![CDATA[BuzzCube]]></dc:creator>
		<pubDate>Fri, 22 Sep 2023 17:04:05 +0000</pubDate>
				<category><![CDATA[Media]]></category>
		<guid isPermaLink="false">https://invest.lendvent.com/?p=4167</guid>

					<description><![CDATA[<p>The post <a href="https://invest.lendvent.com/media/executive-summary/">Executive Summary</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_0 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_code et_pb_code_0">
				
				
				
				
				<div class="et_pb_code_inner"><iframe src="https://drive.google.com/file/d/1QoMMjXEPaz8gc3HWy3_EVHsHTKD-Qize/preview" width="700px" height="905"></iframe></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
<p>The post <a href="https://invest.lendvent.com/media/executive-summary/">Executive Summary</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>LendVent Income Fund I</title>
		<link>https://invest.lendvent.com/media/lendvent-income-fund-i/</link>
		
		<dc:creator><![CDATA[LendVent]]></dc:creator>
		<pubDate>Thu, 27 Jul 2023 18:56:39 +0000</pubDate>
				<category><![CDATA[Media]]></category>
		<guid isPermaLink="false">https://invest.lendvent.com/?p=4136</guid>

					<description><![CDATA[<p>The post <a href="https://invest.lendvent.com/media/lendvent-income-fund-i/">LendVent Income Fund I</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_1 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_code et_pb_code_1">
				
				
				
				
				<div class="et_pb_code_inner"><iframe src="https://drive.google.com/file/d/1cdhZ8vx52FPfPw0lu1Ztz6wb8_j7EPG6/preview" width="700px" height="905"></iframe></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
<p>The post <a href="https://invest.lendvent.com/media/lendvent-income-fund-i/">LendVent Income Fund I</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Real Estate Private Loans vs. Other Asset Classes</title>
		<link>https://invest.lendvent.com/media/real-estate-private-loans-vs-other-asset-classes/</link>
		
		<dc:creator><![CDATA[LendVent]]></dc:creator>
		<pubDate>Wed, 26 Jul 2023 23:31:45 +0000</pubDate>
				<category><![CDATA[Media]]></category>
		<guid isPermaLink="false">https://invest.lendvent.com/?p=4107</guid>

					<description><![CDATA[<p>The post <a href="https://invest.lendvent.com/media/real-estate-private-loans-vs-other-asset-classes/">Real Estate Private Loans vs. Other Asset Classes</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="et_pb_section et_pb_section_2 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_code et_pb_code_2">
				
				
				
				
				<div class="et_pb_code_inner"><iframe src="https://drive.google.com/file/d/1OQivxrZIJY0sbzwXuVAF24VBONIc1nEb/preview" width="700px" height="905"></iframe></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>
<p>The post <a href="https://invest.lendvent.com/media/real-estate-private-loans-vs-other-asset-classes/">Real Estate Private Loans vs. Other Asset Classes</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Project 3</title>
		<link>https://invest.lendvent.com/portfolio/project-3/</link>
		
		<dc:creator><![CDATA[LendVent]]></dc:creator>
		<pubDate>Mon, 26 Jun 2023 21:07:33 +0000</pubDate>
				<category><![CDATA[Portfolio]]></category>
		<guid isPermaLink="false">https://invest.lendvent.com/?p=3768</guid>

					<description><![CDATA[<p>Specializing in smart investment and frugal financial planning and advice to give you the best possible outcomes both short term and long term throughout economic downturn.</p>
<p>The post <a href="https://invest.lendvent.com/portfolio/project-3/">Project 3</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></description>
										<content:encoded><![CDATA[

<div class="et_pb_section et_pb_section_3 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_3 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_2_5 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project</strong> Name</h2></div>
			</div><div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_0">
				
				
				
				
				<span class="et_pb_image_wrap "><img fetchpriority="high" decoding="async" width="400" height="265" src="https://invest.lendvent.com/wp-content/uploads/2023/06/p-image.jpg" alt="" title="p-image" class="wp-image-3646" /></span>
			</div>
			</div><div class="et_pb_with_border et_pb_column_3_5 et_pb_column et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project</strong> Summary</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_4 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_1">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon01.jpg" alt="" title="investec-icon01" class="wp-image-3650" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #1</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_2">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon02.jpg" alt="" title="investec-icon01" class="wp-image-3651" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #2</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_3">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon03.jpg" alt="" title="investec-icon01" class="wp-image-3652" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #3</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_4">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon04.jpg" alt="" title="investec-icon01" class="wp-image-3654" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #4</h3></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_4 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_with_border et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Offering</strong> Overview</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_left et_pb_text_align_center-phone et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_with_border et_pb_row et_pb_row_6">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Building</strong> Specs</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><ul>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
</ul></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_with_border et_pb_row et_pb_row_7">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Unit</strong> Features</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_12  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><ul>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
</ul></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_8">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_13  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>City </strong>Name / State</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_14  et_pb_text_align_left et_pb_text_align_center-phone et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_9">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_15  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project </strong>Timeline</h2></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_10">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
				
				
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_11 et_pb_gutters2">
				<div class="et_pb_column et_pb_column_1_5 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_16  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2021</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_17  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_18  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2022</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_21  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_20  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2023</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_21  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_22  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_22  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2024</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_23  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_23  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_24  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2025</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_25  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_12 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_2_5 et_pb_column_24  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_26  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Investment</strong> Highlights</h2></div>
			</div><div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_6">
				
				
				
				
				<span class="et_pb_image_wrap "><img fetchpriority="high" decoding="async" width="400" height="265" src="https://invest.lendvent.com/wp-content/uploads/2023/06/p-image.jpg" alt="" title="p-image" class="wp-image-3646" /></span>
			</div>
			</div><div class="et_pb_with_border et_pb_column_3_5 et_pb_column et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_27  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_1 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_2 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_3 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>

<p>The post <a href="https://invest.lendvent.com/portfolio/project-3/">Project 3</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Project 2</title>
		<link>https://invest.lendvent.com/portfolio/project-2/</link>
		
		<dc:creator><![CDATA[LendVent]]></dc:creator>
		<pubDate>Mon, 26 Jun 2023 21:07:16 +0000</pubDate>
				<category><![CDATA[Portfolio]]></category>
		<guid isPermaLink="false">https://invest.lendvent.com/?p=3766</guid>

					<description><![CDATA[<p>Specializing in smart investment and frugal financial planning and advice to give you the best possible outcomes both short term and long term throughout economic downturn.</p>
<p>The post <a href="https://invest.lendvent.com/portfolio/project-2/">Project 2</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></description>
										<content:encoded><![CDATA[

<div class="et_pb_section et_pb_section_5 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_13 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_2_5 et_pb_column_26  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_28  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project</strong> Name</h2></div>
			</div><div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_7">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="400" height="265" src="https://invest.lendvent.com/wp-content/uploads/2023/06/p-image.jpg" alt="" title="p-image" class="wp-image-3646" /></span>
			</div>
			</div><div class="et_pb_with_border et_pb_column_3_5 et_pb_column et_pb_column_27  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_29  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project</strong> Summary</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_30  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_14 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_28  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_8">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon01.jpg" alt="" title="investec-icon01" class="wp-image-3650" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_31  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #1</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_29  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_9">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon02.jpg" alt="" title="investec-icon01" class="wp-image-3651" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_32  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #2</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_30  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_10">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon03.jpg" alt="" title="investec-icon01" class="wp-image-3652" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_33  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #3</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_31  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_11">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon04.jpg" alt="" title="investec-icon01" class="wp-image-3654" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_34  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #4</h3></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_6 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_with_border et_pb_row et_pb_row_15">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_32  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_35  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Offering</strong> Overview</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_33  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_36  et_pb_text_align_left et_pb_text_align_center-phone et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_with_border et_pb_row et_pb_row_16">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_34  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_37  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Building</strong> Specs</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_35  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_38  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><ul>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
</ul></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_with_border et_pb_row et_pb_row_17">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_36  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_39  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Unit</strong> Features</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_37  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_40  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><ul>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
</ul></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_18">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_38  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_41  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>City </strong>Name / State</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_39  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_42  et_pb_text_align_left et_pb_text_align_center-phone et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_19">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_40  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_43  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project </strong>Timeline</h2></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_20">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_41  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
				
				
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_21 et_pb_gutters2">
				<div class="et_pb_column et_pb_column_1_5 et_pb_column_42  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_44  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2021</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_45  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_43  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_46  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2022</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_47  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_44  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_48  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2023</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_49  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_45  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_50  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2024</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_51  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_46  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_52  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2025</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_53  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_22 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_2_5 et_pb_column_47  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_54  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Investment</strong> Highlights</h2></div>
			</div><div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_13">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="400" height="265" src="https://invest.lendvent.com/wp-content/uploads/2023/06/p-image.jpg" alt="" title="p-image" class="wp-image-3646" /></span>
			</div>
			</div><div class="et_pb_with_border et_pb_column_3_5 et_pb_column et_pb_column_48  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_55  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_module et_pb_divider et_pb_divider_4 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_5 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_6 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_7 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>

<p>The post <a href="https://invest.lendvent.com/portfolio/project-2/">Project 2</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Project 1</title>
		<link>https://invest.lendvent.com/portfolio/project-1/</link>
		
		<dc:creator><![CDATA[LendVent]]></dc:creator>
		<pubDate>Mon, 26 Jun 2023 20:59:16 +0000</pubDate>
				<category><![CDATA[Portfolio]]></category>
		<guid isPermaLink="false">https://invest.lendvent.com/?p=3748</guid>

					<description><![CDATA[<p>Specializing in smart investment and frugal financial planning and advice to give you the best possible outcomes both short term and long term throughout economic downturn.</p>
<p>The post <a href="https://invest.lendvent.com/portfolio/project-1/">Project 1</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></description>
										<content:encoded><![CDATA[

<div class="et_pb_section et_pb_section_7 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_23 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_2_5 et_pb_column_49  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_56  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project</strong> Name</h2></div>
			</div><div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_14">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="400" height="265" src="https://invest.lendvent.com/wp-content/uploads/2023/06/p-image.jpg" alt="" title="p-image" class="wp-image-3646" /></span>
			</div>
			</div><div class="et_pb_with_border et_pb_column_3_5 et_pb_column et_pb_column_50  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_57  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project</strong> Summary</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_58  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_24 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_51  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_15">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon01.jpg" alt="" title="investec-icon01" class="wp-image-3650" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_59  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #1</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_52  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_16">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon02.jpg" alt="" title="investec-icon01" class="wp-image-3651" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_60  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #2</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_53  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_17">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon03.jpg" alt="" title="investec-icon01" class="wp-image-3652" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_61  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #3</h3></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_54  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_image et_pb_image_18">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="225" height="225" src="https://invest.lendvent.com/wp-content/uploads/2023/06/investec-icon04.jpg" alt="" title="investec-icon01" class="wp-image-3654" /></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_62  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Benefit #4</h3></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_8 et_section_regular" >
				
				
				
				
				
				
				<div class="et_pb_with_border et_pb_row et_pb_row_25">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_55  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_63  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Offering</strong> Overview</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_56  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_64  et_pb_text_align_left et_pb_text_align_center-phone et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_with_border et_pb_row et_pb_row_26">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_57  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_65  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Building</strong> Specs</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_58  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_66  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><ul>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
</ul></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_with_border et_pb_row et_pb_row_27">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_59  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_67  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Unit</strong> Features</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_60  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_68  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><ul>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
<li>Sed ut perspiciatis unde omnis iste natus error</li>
</ul></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_28">
				<div class="et_pb_column et_pb_column_1_3 et_pb_column_61  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_69  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>City </strong>Name / State</h2></div>
			</div>
			</div><div class="et_pb_column et_pb_column_2_3 et_pb_column_62  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_70  et_pb_text_align_left et_pb_text_align_center-phone et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_29">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_63  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_71  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Project </strong>Timeline</h2></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_30">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_64  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
				
				
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_31 et_pb_gutters2">
				<div class="et_pb_column et_pb_column_1_5 et_pb_column_65  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_72  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2021</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_73  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_66  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_74  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2022</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_75  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_67  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_76  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2023</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_77  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_68  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_78  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2024</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_79  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_5 et_pb_column_69  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_80  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2>2025</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_81  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h3>Lorem Ipsum</h3>
<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem</p></div>
			</div>
			</div>
				
				
				
				
			</div><div class="et_pb_row et_pb_row_32 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_2_5 et_pb_column_70  et_pb_css_mix_blend_mode_passthrough">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_82  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h2><strong>Investment</strong> Highlights</h2></div>
			</div><div class="et_pb_with_border et_pb_module et_pb_image et_pb_image_20">
				
				
				
				
				<span class="et_pb_image_wrap "><img decoding="async" width="400" height="265" src="https://invest.lendvent.com/wp-content/uploads/2023/06/p-image.jpg" alt="" title="p-image" class="wp-image-3646" /></span>
			</div>
			</div><div class="et_pb_with_border et_pb_column_3_5 et_pb_column et_pb_column_71  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_83  et_pb_text_align_left et_pb_text_align_center-tablet et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div><div class="et_pb_module et_pb_divider et_pb_divider_8 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_9 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_10 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_divider et_pb_divider_11 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>

<p>The post <a href="https://invest.lendvent.com/portfolio/project-1/">Project 1</a> appeared first on <a href="https://invest.lendvent.com">Lendvent Realty Capital</a>.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
