<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Lendvent Realty Capital	</title>
	<atom:link href="https://invest.lendvent.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://invest.lendvent.com/</link>
	<description>With decades of real estate experience, we provide capital to experienced real estate investors.</description>
	<lastBuildDate>Fri, 02 Feb 2024 21:49:59 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	
</channel>
</rss>
